@model EnisProject.Models.Internship

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Internship</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InternshipId" />
            <div class="form-group">
                <label asp-for="InternshipHeader" class="control-label"></label>
                <input asp-for="InternshipHeader" class="form-control" />
                <span asp-validation-for="InternshipHeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InternshipInfo" class="control-label"></label>
                <input asp-for="InternshipInfo" class="form-control" />
                <span asp-validation-for="InternshipInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InternshipPicture" class="control-label"></label>
                <input asp-for="InternshipPicture" class="form-control" />
                <span asp-validation-for="InternshipPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InternshipLocation" class="control-label"></label>
                <input asp-for="InternshipLocation" class="form-control" />
                <span asp-validation-for="InternshipLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialityId" class="control-label"></label>
                <select asp-for="SpecialityId" class="form-control" asp-items="ViewBag.SpecialityId"></select>
                <span asp-validation-for="SpecialityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
